.container{
    border: 2px solid;
    height: 80px;
}
.sub_navbar_div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo_div{
    margin-top: 20px;
    margin-left: 7%;
}
.logo{
    width: 110px;
    color: wheat;
}
.showItem_div{
    /* border: 2px solid; */
    height: fit-content;
    display: none !important;
    
}
.cl_div{
    display: none;
    
}
.showItem{
    font-size: 2em !important;
}
.close_div{
    /* border: 2px solid; */
    height: fit-content;
    /* margin-top: 10px; */
    margin-left: -10px;
    display: none;
    padding: 10px;

}
.close{
    font-size: x-large !important;

}
.servicesss:hover>.model_div{
    display: block;
}
.estimate_btn{
    width: 200px;
    border: none;
    outline: none;
    background-color: rgb(241, 103, 10);
    height: 45px;
    font-size: 1em;
    /* padding: 5px; */
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: -50px;
}
.nav_and_phoneIcon{
    display: flex;
    margin-top: 20px;
}

                     /* NAVlIST COMPONENT */


.navList_ul{
    /* border:  2px solid; */
    width: 950px;
    max-width: 950px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    /* margin-left: 10%; */
}

.navList_ul>li{
   /* border: 2px solid red; */
   align-items: center;
   padding-top: 25px;
}
.cl_li{
    /* border: 2px solid; */
    display: flex;
    margin-top: -30px;
}
.callIcon{
    font-size: 1.2em !important;
    height: fit-content;
}

  /* list 2 from mobile  */

.div_list2{
    /* border: 2px solid; */
    position: absolute;
    top: 80px;
    left: 0px;
    width: 99vw;
    /* height: 100%; */
}  
.main_list2{
    /* border: solid 2px red; */
    margin-top: 20px;
}
.list_ul2{
    /* border: solid 2px; */
    list-style: none;
}
.expand{
    width: 40px !important;
    height: 30px !important;
    font-size: 1em !important;
}
.expnd_btn{
    border: none;
    outline: none;
}
.expand:hover{
    background-color: rgba(228, 224, 224, 0.897);
}

.services,.solution,.work,.about,.contact,.resources{
    padding: 5px 15px;
    border-bottom: 1px solid rgb(206, 203, 203);
    display: flex;
    justify-content: space-between;
    height: 40px;
    font-weight: bold;
}






         /* MODEL DIV  */

.model_div{
    /* border: solid 2px red; */
    margin-top: -20px;
    /* background-color: cadetblue; */
    z-index: 1;
}         


@media screen and (max-width:1125px){
    .navList_ul{
        width: 800px;
    }
}
@media screen and (max-width:1020px){
    .estimate_btn{
        width:170px;
        font-size: 0.8em;
        height: 40px;
    }
}
@media screen and (max-width:990px){
    .estimate_btn,.cl_li,.navList_ul{
      display: none !important;

    }
    .showItem_div,.cl_div,.close_div{
        display: block !important;
        
    }
    .showItem_div{
        margin-right: 20px;
    }
    .cl_div{
        /* border: 2px solid; */
    margin-right: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    background-color:rgb(116, 207, 238);

    }
    .phoneIcon{
        color: white;
        font-size: 1.2em !important;
    }
}
@media screen and (max-width:990px){
    .model_div{
        display: none;
    }
}